@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

:root {
    /* --primary-color: #2887ff; */
    --primary-color: #8F72B5;
    --primary-color-dark: #7350a3;
    --text-dark: #0a0a0a;
    --text-light: #737373;
    --extra-light: #f3f4f6;
    --white: #ffffff;
    --max-width: 1200px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section_container {
    max-width: var(--max-width);
    margin: auto;
    padding: 5rem 1rem;
}

.section_header {
    margin-bottom: 5px;
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--text-dark);
    text-align: center;
}

.section_description {
    max-width: 600px;
    margin-inline: auto;
    color: var(--text-light);
    text-align: center;
}

.btn {
    padding: .75rem 1.5rem;
    outline: none;
    border: none;
    font-size: 1rem;
    white-space: nowrap;
    color: var(--white);
    background-color: var(--primary-color);
    border-radius: 5rem;
    transition: 0.3s;
    cursor: pointer;
}

.btn:hover {
    background-color: var(--primary-color-dark);
}

.logo {
    font-size: 1.75rem;
    font-weight: 800;
    color: var(--text-dark);
}

img {
    display: flex;
    width: 100%;
}

a {
    text-decoration: none;
    transition: 0.3s;
}

ul {
    list-style: none;
}

html,
body {
    scroll-behavior: smooth;
}

body {
    font-family: "DM Sans", sans-serif;
}

nav {
    position: fixed;
    isolation: isolate;
    padding: 0;
    top: 0;
    width: 100%;
    z-index: 9;
}

.nav_header {
    padding: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-color);
}


.logo img {
    width: 100px;
    
}

.nav_menu_btn {
    font-size: 1.5rem;
    color: var(--white);
    cursor: pointer;
}


.nav_links {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    width: 100%;
    padding: 2rem;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    background-color: var(--primary-color);
    transition: transform 0.5s;
    z-index: -1;
}

.nav_links.open {
    transform: translateY(100%);
}

.nav_links a {
    font-weight: 600;
    color: var(--white);
    white-space: nowrap;
}

.nav_links a:hover {
    color: var(--text-dark);
}

.nav_btns {
    display: none;
}

.nav_link li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: var(--text-dark);
    display: block;
    margin: auto;
    transition: .3s ease-in-out;
}

.nav_link li:hover::after{
    width: 100%;
}

header {
    margin-top: 5rem;
    padding-inline: 1rem;
    position: relative;
    isolation: isolate;
    overflow: hidden;
}

.header_container {
    display: grid;
}

.header_content {
    padding: 4rem 1rem;
}

.header_content p {
    margin-bottom: 5px;
    font-size: 1rem;
    font-weight: 600;
    color: var(--text-dark);
    text-align: center;
}

.header_content h1 {
    margin-bottom: 2rem;
    font-size: 4.5rem;
    font-weight: 600;
    color: var(--text-dark);
    line-height: 5.5rem;
    text-align: center;
}

.header_btns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.header_btns .btn {
    padding: 1rem 2rem;
}

.header_btns a {
    padding: 9px 13px;
    font-size: 1.5rem;
    color: var(--primary-color);
    background-color: var(--white);
    border-radius: 100%;
}

.header_btns a:hover {
    color: var(--white);
    background-color: var(--primary-color);
}

.destination_container :is(.section_header, .section_description) {
    text-align: left;
    margin-inline-start: unset;
}

.destination_grid {
    margin-top: 4rem;
    display: grid;
    gap: 2rem 1rem;
}

.destination_card img {
    border-radius: 1.5rem;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
    height: 70%;
}

.destination_card_details {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.destination_card_details h4 {
    margin-bottom: 5px;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--text-dark);
}

.destination_card_details p {
    color: var(--text-light);
}

.destination_rating {
    padding: 5px 10px;
    font-size: .9rem;
    white-space: nowrap;
    color: var(--white);
    background-color: var(--primary-color);
    border-radius: 1rem;
    transition: 0.3s;
}

.destination_card:hover .destination_rating {
    background-color: var(--primary-color-dark);
}

.destination_card:hover img{
    transform: scale(1.03);
    transition: .5s ease;
}


@media(width > 540px) {
    .destination_grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (width > 768px) {
    nav {
        position: static;
        padding: 2rem 1rem;
        max-width: var(--max-width);
        margin-inline: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;
    }

    .nav_header {
        flex: 1;
        padding: 0;
        background-color: transparent;
    }

    .nav_logo .logo {
        color: var(--text-dark);
    }

    .nav_menu_btn {
        display: none;
    }

    .nav_links {
        position: static;
        width: fit-content;
        padding: 0;
        flex-direction: row;
        background-color: transparent;
        transform: none !important;
    }

    .nav_links a {
        color: var(--text-dark);
    }

    .nav_links a:hover {
        color: var(--primary-color);
    }

    .nav_links li:last-child {
        display: none;
    }

    .nav_btns {
        flex: 1;
        display: flex;
        justify-content: flex-end;
    }

    .nav_btns button {
        background-color: var(--text-dark);
        padding: 0.75rem 2rem;
    }

    header {
        margin-top: 1rem;

    }

    .header_container {
        grid-template-columns:
            minmax(0, 1fr) repeat(5, minmax(0, calc(var(--max-width) / 5))) minmax(0, 1fr);
    }

    .header_content {
        grid-column: 2/4;
        padding-block: 8 rem;
    }

    .header_content :is(p, h1) {
        text-align: left;
    }

    .header_btns {
        justify-content: flex-start;
    }

    .header_image {
        grid-column: 4/8;
        position: relative;
        isolation: isolate;
        height: 100%;
    }

    .header_image img {
        position: absolute;
        top: 2rem;
        left: 0;
        width: 100%;
        width: unset;
    }

    .destination_grid {
        grid-template-columns: repeat(3, 1fr);
    }
}